.Trash-1000/*

build-w32_db48.sh
build-w32.sh
dependencies.sh
dngrcoin_daemon_db48.sh
dngrcoin_daemon.sh
dngrcoin_gui_db48.sh
dngrcoin_gui_osx.sh
object_script.dngrcoin-qt.Debug
object_script.dngrcoin-qt.Release
#fix-xcb-include-order.patch
#mingw-uuidof.patch
#pidlist_absolute.patch

*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/dngrcoin
src/dngrcoind
src/dngrcoin-cli
src/dngrcoin-tx
src/test/test_dngrcoin
src/qt/test/test_dngrcoin-qt
src/bench/bench_dngrcoin

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/dngrcoin-config.h
src/config/dngrcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

#src/univalue/gen
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
#*.patch
.dngrcoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
#Makefile
dngrcoin-qt
dngrcoin-Qt.app

# Unit-tests
Makefile.test
dngrcoin-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_dngrcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
src/qt/dngrcoin-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
dngrcoin-cli
dngrcoind
dngrcoin-qt
make
GenesisH0/
genesis/
src/sedTU4GTf
dngrcoin-install-dmg/